 @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import "variables";
 @import "mixins";


 html, body{

  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  font-family: sans-serif;



  div.admin-nav-right{
   z-index: 15;
   position: fixed;
   top: 5rem;
   right: 5rem;

   a, a:link, a:visited {
   //display: block;
   //padding: 12px;
   text-decoration: none;
   color: #033067;
   //font-family: $font-stack;
   //font-size: 5.3rem;
  }

   a:hover,
   a:focus {
    color: #d07e1b;
    text-decoration: underline;

   }
  }


  .content-wrap{

    margin: 15rem 0;
    padding: 10rem 0;
    min-height: 900px;

   a, a:link, a:visited {
    //display: block;
    //padding: 12px;
    text-decoration: none;
    color: #033067;
    //font-family: $font-stack;
    //font-size: 5.3rem;
   }

   a:hover,
   a:focus {
    color: #d07e1b;
    text-decoration: underline;

   }



   //== FORMS, CONTROLS ==//

   .panel{
     margin-top: 2rem;
   }

   .my-form{
    //position: relative;
    //z-index: 5;
    margin-top: 5rem;
    margin-bottom: 15rem;
    left: 50%;
    min-height: 500px;
    padding-bottom: 2rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    .form-control{
     border-radius: 0;
     height: $input-h;

    }

    .my-btn{
     background: #033067;
     color: #F7F7F9;

    }

    .my-social-btn{
     height: $input-h;
     //width: $input-w;
    }

    .my-social-btns{
     text-align: center;
    }
    .my-btn-fb{
     @extend .my-social-btn;
     color: #F7F7F9;
     background: #044fc4;

    }
    .my-btn-gplus{
     @extend .my-social-btn;
     color: #F7F7F9;
     background: #b70800;

    }

   }

  }

  .centering {
   @include centering(50%);
  }


  //== HEADER ==//
  header{
    position: fixed;
    height: 20rem;
    width: 100%;
    left: 0;
    z-index: 10;
    background-color: #FFF;


    #brand-center{

     width: $logo_size;
     height: $logo_size;
     background: center/100% url('../files/img/zeal-logo.png') no-repeat;
     //background-repeat: no-repeat;
     //position: absolute;
     //left: 50%;
     //transform: translateX(-50%);
     //-webkit-transform:  translateX(-50%);
     //border: seagreen 1px dotted;
     //background-size: 100%;
    }

    .brand-center{
     height: $logo_size;
     width: 100%;
     margin: 5px;

    }

    nav {

     height: 7rem;

     ul {
      margin: 0;
      padding: 0;
      list-style: none;
     }

     .navbar-nav {
      //border: seagreen 1px dotted;
      width: 100%;
      text-align: center;
      li {
       float: none;
       display: inline-block;
      }
     }

     a, a:link, a:visited {
      display: block;
      padding: 12px;
      text-decoration: none;
      color: $primary-color;
      font-family: $font-stack;
      font-size: 5.3rem;
     }

     a:hover,
     a:focus {
      color: #ff8a00;
      text-decoration: underline;

     }

    }

    h1.nav-heading{
     //display: inline-block;
     border-top: 1px solid #E9E9E9;
     font-family: Lato;
     font-size: 4rem;
     top: 20rem;
     padding-top: 1rem;

    }

   } // end of HEADER

//== SECTION ==//

   section{
    position: relative;
    width: 100%;
    min-height: 60rem;
    top: 20rem;
    left: 0;
    right: 0;
    padding: 15rem 2rem;
    //margin: 8rem 0;
    //border: 2px #d73131 dotted;

    h1, h2{
     //margin-left: 2rem;
    }

    a, a:link, a:visited {
     color: $primary-color;
     font-family: $font-stack;
     font-size: 4rem;

    }

    a:hover,
    a:focus, a:active {
     color: #ff8a00;
     text-decoration: underline;
    }


    }

   section#rules{

    div.rules, div.winners{
     float: left;
    }

    a, a:link, a:visited {
     line-height: 4rem;
     font-size: 3rem;
    }

    .rules{
     width: 70%;
     font-size: 2rem;
     text-align: justify;
     line-height:2rem;
     //padding: 1rem 2rem 1rem 2rem;
     //font-family: Aargh;
     //font-style: oblique;
    }

    .winners{
       width: 30%;
    }

    //background-color: #ff8000;

   }

  section#images{
   //padding-top:  15rem;

   min-height: 100rem;
   //background-color: lightpink;
   //z-index: 2;
   a, a:link, a:visited{
    font-size: 3rem;
   }

 }
  section#win{
   min-height: 60rem;
   //background-color: lightskyblue;
   //z-index: -1;

   div.text{

    width: 50%;
    margin-right: 2rem;
    float: left;

      p{
        padding-left: 2rem;
      }
   }
   div.video{

    position: relative;
    top: 5.9rem;
    left: 4rem;

    iframe{

     padding: 10px;
     background: #fff;
     border: 1px solid #ddd;
     box-shadow: 0 0 5px #ddd;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
    }

   }

 }

 section#win-goggles{
   position: relative;
   height: 95rem;
   top: 0;
   //background-color: #00d6b2;


  .goggles{
    height: 100%;
    width: 100%;
    background: no-repeat center/120% url("../files/img/zeal-goggles.png") fixed;

   }


   .win-call-bar {
    position: relative;
    top: 0;
    display: table;
    table-layout: fixed;
    width: 120%;
    height: 15rem;
    left: -10%;
    //overflow: hidden;
    //background-color: #ff8000;

    .win-call-bar-content {
     position: inherit;
     z-index: 5;
     background-color: #d2100a;
     display: table-cell;
     vertical-align: middle;
     color: #ebebeb;
     //padding: 2% 8%;
     text-align: center;

     a, a:link, a:visited{
      color: #ebebeb;
      font-style: oblique;
     }

     a:focus, a:hover, a:active{
      color: #ff8a00;
      font-style: oblique;
     }

    }

   }

  }


  //== IMAGES ==//

  ul.rig {
   list-style: none;
   margin-left: -5%;

   h1, h2, a, a:link, a:visited{
    margin-left: 4rem;
   }

   .vote-btn{

    font-style: oblique;
    font-size: 1.5rem;
    border: none;
    background: #dd0000;
    color: #FFFFDF;
    height: 4rem;
    width: 100%;
    z-index: 20;
    cursor: pointer;
   }

  }
  ul.rig li {
   display: inline-block;
   padding: 10px;
   margin: 0 0 2.5% 2.5%;
   background: #fff;
   border: 1px solid #ddd;
   font-size: 16px;
   font-size: 1rem;
   vertical-align: top;
   box-shadow: 0 0 5px #ddd;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
  }
  ul.rig li img {
   max-width: 100%;
   height: auto;
   margin: 0 0 10px;
  }
  ul.rig li h3 {
   margin: 0 0 5px;
  }
  ul.rig li p {
   font-size: .9em;
   line-height: 1.5em;
   color: #999;
  }
  /* class for 2 columns */
  ul.rig.columns-2 li {
   width: 47.5%; /* this value + 2.5 should = 50% */
  }
  /* class for 3 columns */
  ul.rig.columns-3 li {
   width: 30.83%; /* this value + 2.5 should = 33% */
  }
  /* class for 4 columns */
  ul.rig.columns-4 li {
   width: 22.5%; /* this value + 2.5 should = 25% */
  }




  //== Footer ==//
  footer{
   //border: 15px seagreen dotted;
   //background-color: palegoldenrod;
   position: fixed;
   z-index: 9;
   left: -5%;
   bottom: -95rem;

   img{
    width: 105%;

   }

  }

  //== end of Footer ==//




  //== @MEDIA queries ==//

  @media (max-width: 800px) {

   section#win{

    .text {

     width: 100%;
     margin-right: 2rem;
     float: left;

    }

   }

   .my-form{

    .form-control{
     margin-left: auto;
     margin-right: auto;
     width: 90%;
    }

   }


   ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
   }
   ul.grid-nav li a {
    display: block;
   }
   ul.rig {
    margin-left: 0;
   }
   ul.rig li {
    width: 45% !important; /* over-ride all li styles */
    margin: 0 0 20px;
   }
  }

  @media (max-width: 600px) {

     footer img{
     width: 108%;
    }

  }


  @media (max-width: 480px) {

   section#rules {
    .rules, .winners{

     width: 100%;
    }
   }

   header h1.nav-heading{
    text-align: center;
     width: 90%;
     font-size: 1.7rem;
    }

   ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
   }
   ul.grid-nav li a {
    display: block;
   }
   ul.rig {
    margin-left: 0;
   }
   ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
   }
  }

  //== end of @MEDIA queries ==//


  //== Messages ==//

  .message {
   border: 1px solid #ccc;
   padding: 15px;
   text-align: center;
   color: #FBFBFB;

  }

  .success {
   @extend .message;
   border-color: lightgreen;
   background-color: #27ed97;
  }

  .error {
   @extend .message;
   border-color: lightpink;
   background-color: #dd0000;

  }

  .warning {
   @extend .message;
   border-color: #ed8920;
   background-color: #feb818;
  }

  // end of messages



 } // end of HTML, body







